<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LED_Hive.Color" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <LED_Hive.Color>
            <setting name="MousePrimaryRed" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="MousePrimaryGreen" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="MousePrimaryBlue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseSecondaryRed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseSecondaryGreen" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="MouseSecondaryBlue" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="MouseTertiaryRed" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="MouseTertiaryGreen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MouseTertiaryBlue" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="KeyboardPrimaryRed" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="KeyboardPrimaryGreen" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="KeyboardPrimaryBlue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardSecondaryRed" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="KeyboardSecondaryGreen" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="KeyboardSecondaryBlue" serializeAs="String">
                <value>75</value>
            </setting>
        </LED_Hive.Color>
    </userSettings>
</configuration>